PORT=8080
DOMAIN=http://localhost:8080
CACHE_MIN_LIMIT_PERCENT=20
CACHE_CAPACITY=10000
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgresql://user:password@localhost:5432/postgres
GOOSE_MIGRATION_DIR=internal/adapter/sql/migration
GOOSE_TABLE=goose_migrations