PORT=8080
DOMAIN=localhost:8080

#DEBUG|WARN|ERROR|INFO
LOG_LEVEL=DEBUG

GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgresql://user:password@localhost:5432/postgres
GOOSE_MIGRATION_DIR=internal/adapter/sql/migration
GOOSE_TABLE=goose_migrations

REDIS_ADDR=localhost:6379
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_MAX_RETRIES=3

CACHE_MIN_LIMIT_PERCENT=20
CACHE_CAPACITY=10000
CACHE_URL_TTL=86400

TASK_CACHE_GENERATION_QUANTITY=10000
TASK_CACHE_GENERATION_LIMIT=1000000
TASK_CACHE_GENERATION_NAME="Cache Generation"
TASK_CACHE_GENERATION_SCHEDULE="@every 1m"

TASK_URL_CLEANUP_NAME="URL Cleanup"
TASK_URL_CLEANUP_SCHEDULE="@every 1m"
TASK_URL_CLEANUP_LIMIT=10000
TASK_URL_CLEANUP_AFTER_DAYS=365
